* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.question {
    margin-top: 100px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 100%;
}

.options {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.options button {
    background: none;
    padding: 10px;
    color: white;
    border: 1px solid white;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #2C3A47;
}

#root {
    background: none;
    width: 80%;
}

.display-results {
    display: flex;
    width: 80%;
    justify-content: center;
    flex-direction: column;
}

.line {
    display: flex;
    justify-content: center;
    align-items: center;
}

.results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 50px;
}

.display-question,
.display-answer,
.display-user-choice {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    height: 60px;
    padding: 10px;
    font-size: 16px;
}

.display-question {
    width: 50%;
}

.display-answer,
.display-user-choice {
    width: 25%;
}

.progress-bar {
    position: absolute;
    height: 15px;
    background-color: seagreen;
    border-radius: 12px;
    transition: width ease-in;
    top: 0;
}