* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.question {
    margin-top: 100px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 100%;
}

.options {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.options button {
    background: none;
    padding: 10px;
    color: white;
    border: 1px solid white;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #2C3A47;
}

#root {
    background: none;
    width: 80%;
}

.display-results {
    display: flex;
    width: 80%;
    justify-content: center;
    flex-direction: column;
}

.line {
    display: flex;
    justify-content: center;
    align-items: center;
}

.results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 50px;
}

.display-question,
.display-answer,
.display-user-choice {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    height: 60px;
    padding: 10px;
    font-size: 16px;
}

.display-question {
    width: 50%;
}

.display-answer,
.display-user-choice {
    width: 25%;
}

.question .progress-bar-top,
.question .progress-bar-bottom,
.question .progress-bar-left,
.question .progress-bar-right {
    display: flex;
    position: absolute;
    background-color: seagreen;
    /* border-radius: 12px; */
    transition: width ease-in;
}

.question .progress-bar-top {
    width: 100%;
    height: 15px;
    top: 0;
    left: 0;
    align-items: flex-start;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

.question .progress-bar-bottom {
    width: 100%;
    height: 15px;
    bottom: 0;
    right: 0;
    align-items: flex-end;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

.question .progress-bar-left {
    width: 15px;
    height: 100%;
    left: 0;
    top: 0;
    align-items: flex-start;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
}

.question .progress-bar-right {
    width: 15px;
    height: 100%;
    right: 0;
    bottom: 0;
    align-items: flex-end;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
}